#image-change {
  transition: background-image 1s ease-in-out;
  
}

.w-3 {
  width: 0.75rem;
}

.h-3 {
  height: 0.75rem;
}

.scale-150 {
  transform: scale(0.9);
  
}


.cursor-pointer:hover {
  background-color: rgba(255, 255, 255, 0.8);
}